* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif !important;
  background-color: #fff;
}

.intro {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.intro .intro-text {
  color: #000;
  font-style: italic;
  font-size: 4rem;
}

.intro .intro-text .hide {
  background: #fff;
  overflow: hidden;
}

.intro .intro-text .hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.fade {
  opacity: 0;
}

#header {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
}

#header .logo {
  width: 100px;
  height: 100px;
}

#header #nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #links {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #links .current {
  font-weight: bold !important;
}

#header #links .link {
  text-decoration: none;
  color: #000;
  -webkit-transition: 1s;
  transition: 1s;
}

.link:hover {
  opacity: 0.5;
}

#menu,
#menu-btn {
  display: none;
}

.front {
  width: 100%;
  height: 450px;
  background: url(../res/img/front-1920x1080.jpg) no-repeat;
  color: #fff;
  padding: 60px 0 30px 50px;
}

.front h1 {
  color: #fff;
  font-size: 75px;
  padding-bottom: 20px;
}

.front p {
  width: 60%;
  font-size: 1.2rem;
}

.front .front-btns {
  width: 60%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.front .front-btns .front-btn {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 15px 5px;
  -webkit-transition: 1s;
  transition: 1s;
  border: 3px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forum-front {
  background: url(../res/img/forum-hero.png) no-repeat !important;
  margin: 0 auto !important;
}

.front-btn:hover {
  background-color: #001f52 !important;
}

#main {
  width: 100%;
  margin-top: 30px;
}

.in-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.in-progress img {
  width: 50%;
}

.in-progress h1 {
  font-size: 70px;
  margin-left: 30px;
  margin-top: 100px;
}

.presentation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 90px 100px 20px;
  color: #000;
  background: url(../res/img/presentation-bg-transparent.png) no-repeat;
  background-size: cover;
}

.presentation .presentation-title {
  width: 50%;
  text-align: center;
  margin-bottom: 70px;
  padding: 30px 0;
}

.presentation .presentation-title h1 {
  font-size: 5rem;
  font-weight: bolder;
}

.presentation .presentation-title h2 {
  font-weight: 500;
  margin-bottom: 30px;
}

.presentation .presentation-title h3 {
  font-weight: 400;
}

.presentation .presentation-items {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  text-align: center;
}

.presentation .presentation-items .presentation-item {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.presentation .presentation-items .presentation-item .presentation-item__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.presentation .presentation-items .presentation-item .presentation-item__title > i {
  font-size: 1.5rem;
  margin-right: 15px;
}

.presentation .presentation-items .presentation-item p {
  font-weight: normal;
}

#footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  background-color: #f3f3f3;
  margin-top: auto;
}

#club-main {
  width: 80%;
  padding: 0 30px 30px 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#club-main .club-main__img {
  width: 100%;
  height: 500px;
  background: url(../res/img/TH_hero2.jpg) no-repeat;
  background-size: cover;
  margin: 0 auto;
}

#club-main .club-item {
  width: 100%;
}

#club-main .club-item .club-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
  padding: 0.75rem 1.5rem;
  background: #f3f3f3;
}

#club-main .club-item .club-item__head img {
  width: 20px;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

#club-main .club-item .club-item__head h1 {
  font-size: 1.4rem;
  margin: 0;
  cursor: pointer;
}

#club-main .club-item .club-item__content {
  width: 100%;
  max-height: 0px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  overflow: hidden;
}

#club-main .club-item .club-item__content h1 {
  font-size: 2rem;
  margin: 30px 0 30px 0;
}

#club-main .club-item .club-item__content p {
  font-size: 1.1rem;
  margin-bottom: 40px;
}

#club-main .club-item .club-item__content .content-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-height: 1000px;
  overflow: hidden;
}

#club-main .club-item .club-item__content .content-grid img {
  width: 100%;
}

#club-main .club-item .club-item__content .content-grid .table-desktop {
  width: 100%;
  height: 700px;
}

#club-main .club-item .club-item__content .content-grid .table-mobile {
  width: 100%;
  display: none;
}

#club-main .club-item #banner-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#club-main .club-item #banner-cards .banner-card {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

#club-main .club-item #banner-cards .banner-card .banner-card__img {
  width: 100%;
  height: 400px;
}

#club-main .club-item #banner-cards .banner-card .banner-card__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  border-top: 2px solid black;
  text-align: center;
}

#club-main .club-item #banner-cards .banner-card .banner-card__text h2 {
  margin-bottom: 10px;
}

#club-main .club-item #banner-cards .banner-card .banner-card__text p {
  font-size: 1rem;
}

.carousel {
  width: 100%;
  height: 500px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.carousel:hover .controls {
  opacity: 1;
}

.carousel .controls {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 99999;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.carousel .controls .control {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.5;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  cursor: pointer;
}

.carousel .controls .control:hover {
  opacity: 1;
}

.carousel .slides {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
}

.carousel .slides .slide {
  min-width: 100%;
  min-height: 500px;
  height: auto;
}

#contact-main {
  padding: 15px 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact-main div {
  width: 100%;
}

#contact-main img {
  width: 25%;
}

#contact-main p {
  width: 70%;
}

#contact-main #contact-form {
  width: 70%;
}

#contact-form {
  width: 70%;
  min-height: 500px;
  margin-top: 40px;
  background-color: #001f52;
  color: #fff;
  font-weight: 200;
  padding: 15px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #001f52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact-form input,
#contact-form textarea {
  font-family: "Rubik", sans-serif;
  border: none;
}

#contact-form #name {
  width: 30%;
  height: 25px;
  margin: 5px 0 10px 0;
  padding-left: 5px;
}

#contact-form #mail {
  width: 50%;
  height: 25px;
  margin: 5px 0 20px 0;
  padding-left: 5px;
}

#contact-form #msg {
  width: 95%;
  min-height: 300px;
  margin: 5px 0 20px 0;
  padding: 5px;
}

#contact-form #contact-submit {
  padding: 0.75rem 1.5rem;
  width: 20%;
  font-weight: 500;
}

@media screen and (max-width: 1366px) {
  .container {
    width: 100%;
  }
  .front {
    background: url(../res/img/front-1366x768.jpg) no-repeat;
  }
  #contact-main {
    padding: 15px 50px 0 50px;
  }
  #contact-main #contact-form {
    min-height: 400px;
  }
  #contact-main #contact-form #msg {
    min-height: 100px;
  }
}

@media screen and (max-width: 1250px) {
  .front {
    background: url(../res/img/front-1024x768.jpg) no-repeat;
  }
  .front .front-btns {
    margin-top: 50px;
  }
  #contact-main h1 {
    width: 60%;
  }
  #contact-main #contact-form {
    width: 60%;
    margin-bottom: 30px;
  }
  #contact-main img {
    display: none;
  }
}

@media screen and (max-width: 1020px) {
  #banner-cards {
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
  }
  .carousel {
    height: 300px !important;
  }
  .carousel .slides {
    min-height: 300px !important;
  }
  .presentation {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background: #fff !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .presentation .presentation-title {
    width: 100% !important;
  }
  .presentation .presentation-items {
    width: 100% !important;
  }
}

@media screen and (max-width: 800px) {
  #header #nav {
    width: 60%;
  }
  #header #nav #menu {
    width: 200px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header #nav #menu #links-mobile {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 70%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #header #nav #menu #links-mobile a {
    text-decoration: none;
    color: #000;
  }
  #header #nav #menu #close-btn {
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: auto;
  }
  .front {
    padding-top: 80px;
    background: url(../res/img/front-768x1024.jpg) no-repeat;
  }
  .front h1 {
    font-size: 50px;
  }
  .front .front-btns {
    width: 80%;
  }
  .front .front-btns .front-btn {
    background-color: #001f52;
  }
  .content-grid {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  #contact-form {
    width: 70% !important;
  }
  #contact-form input[type="submit"] {
    min-width: 30%;
  }
  #forum-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  #header #nav {
    width: 70%;
  }
  .front {
    background: url(../res/img/front-600x800.jpg) no-repeat;
    padding-left: 20px;
  }
  .front h1 {
    font-size: 40px;
  }
  .front .front-btns {
    margin-top: 60px;
    padding-right: 15px;
    width: 100%;
  }
  .front .front-btns .front-btn {
    width: 25%;
    font-size: 15px;
    margin-bottom: 20px;
  }
  #contact-main h1,
  #contact-main p,
  #contact-main #contact-form {
    width: 90% !important;
  }
  #club-main {
    width: 100%;
  }
  #club-main .club-main__img {
    background: url(../res/img/Th_hero-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  #club-main .content-grid .table-desktop {
    display: none !important;
  }
  #club-main .content-grid .table-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .presentation .presentation-items {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .forum-front {
    background: url(../res/img/forum-hero-mobile.png) no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }
}

@media screen and (max-width: 500px) {
  #header {
    padding: 10px;
  }
  #header #nav #links {
    display: none;
  }
  #header #nav #menu-btn {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 10px;
    background: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #header #nav #menu-btn div {
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
  }
  .front {
    padding-top: 40px;
    background: url(../res/img/front-mobile.jpg);
  }
  .front .front-btns {
    display: none;
  }
  .in-progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .in-progress img {
    width: 100%;
    margin-top: 50px;
    padding: 0 10px;
  }
  .in-progress h1 {
    font-size: 2rem;
    margin-top: 50px;
    margin-left: 0;
    padding: 0 10px;
  }
  #contact-main {
    padding: 0 25px;
  }
  #contact-main #contact-form {
    width: 100% !important;
  }
  #contact-main #contact-form input {
    width: 60%;
  }
  #banner-cards {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 400px) and (max-height: 850px) {
  .front-btns {
    display: none !important;
  }
}

@media screen and (max-width: 350px) {
  #club-main {
    padding: 0 5px;
  }
  .club-item {
    margin: 0 auto;
    max-width: 90%;
  }
  .club-item .club-item__head h1 {
    font-size: 1rem !important;
  }
}
/*# sourceMappingURL=style.css.map */